/*imports the folders from style so the variables and styling I added in utils and 
compents are still apllied while making my style sheet more organized */
/*variables that may apply to multiple styling compents and makes it more organized*/
/*variables that may apply to multiple styling compents and makes it more organized*/
/* compents is made for styling that is resuable so i placed my nav bar styling in here*/
/*styling for the Unorder list for my nav across all the pages*/
nav ul {
  display: inline;
  list-style: none;
}

/*styling for the list of my pages added to my nav ul*/
nav li {
  padding: 2px;
  margin: 10px;
  border: 10px;
  font-size: 20px;
  display: inline-block;
}

/*stylling for the indivudal links/anchors*/
nav a {
  padding: 7px;
  margin: 2px;
  border: 2px solid black;
  background-color: whitesmoke;
  color: #91c9ee;
}

/*styling for when you hover over a anchor/link*/
nav a:hover, nav a:focus {
  background-color: #91c9ee;
  color: whitesmoke;
}

/*styling for when you have gone on a page and rturn to your orginal spot and it shows you've been to that page*/
nav a:visited {
  color: blueviolet;
}

/*styling for the the nav */
nav {
  display: inline-block;
  color: blueviolet;
  background: whitesmoke;
  padding: 5px;
  text-align: center;
  margin: 10px;
  overflow: hidden;
  z-index: 2;
}

/*styling for the nav to stay there since positioned as fixed*/
nav.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  /*placment of the nav*/
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: whitesmoke;
  padding: 0px;
  margin-top: 6px;
  font-size: 20px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: whitesmoke;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
}

.flex-container > div {
  background-color: whitesmoke;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  position: fixed;
}

/*styling for the body of all my pages that are linked to this style sheet*/
body {
  background: whitesmoke;
  font-size: 24px;
  margin: 2px;
}

/*div for my transition to change color*/
.div1 {
  width: 50%;
  height: 37%;
  margin: 7px;
  margin-bottom: 2px;
  border: 2px outset black;
  background-color: whitesmoke;
  text-align: center;
  font-size: 24px;
  /*name of the animtion to refernce for the keyframe*/
  -webkit-animation-name: Animation;
          animation-name: Animation;
  /* time time it take for the colors to change*/
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

/*keyframe contains my start(light-blue)-end(purple) point of my animations for the color change based on my color scheme*/
@-webkit-keyframes Animation {
  from {
    background-color: #cc8ba7;
  }
  to {
    background-color: #91c9ee;
  }
}
@keyframes Animation {
  from {
    background-color: #cc8ba7;
  }
  to {
    background-color: #91c9ee;
  }
}
