/* compents is made for styling that is resuable so i placed my nav bar styling in here*/

/*styling for the Unorder list for my nav across all the pages*/
nav ul 
{
    display: inline;
    list-style: none;
}

/*styling for the list of my pages added to my nav ul*/
nav li 
{
    padding: 2px;
    margin: 10px;
    border: 10px;
    font-size: 20px;
    display: inline-block;
}

/*stylling for the indivudal links/anchors*/
nav a
{
    padding: 7px;
    margin: 2px;
    border: 2px solid $border;
    background-color: $BG-color;
    color: $background-color;
}

/*styling for when you hover over a anchor/link*/
nav a:hover, nav a:focus
{
    background-color: $background-color;
    color: $BG-color;
}

/*styling for when you have gone on a page and rturn to your orginal spot and it shows you've been to that page*/
nav a:visited
{
    color: $nav-color; 
}

/*styling for the the nav */
nav
{
    display: inline-block;
    color: $nav-color;
    background: $BG-color;
    padding: 5px;
    text-align: center;
    margin: 10px;
    overflow:hidden;
    z-index: 2;
}

/*styling for the nav to stay there since positioned as fixed*/
nav.fixed 
{
    position: fixed;
    top: 0;
    left: 50%;
    /*placment of the nav*/
    transform: translateX(-50%);
    background-color: $BG-color;
    padding: 0px;
    margin-top: 6px;
    font-size: 20px;
}

.flex-container 
{
    display: flex;
    flex-wrap: nowrap;
    background-color: $BG-color;
    justify-content:center;
    position:fixed;
}

.flex-container > div 
{
    background-color: $BG-color;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    position: fixed;
}